#nav{
    background-color: cornflowerblue;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
}
a{
    color: azure;
    text-decoration: none;
    margin: 0 0 0 20px;
    font-size: 20px;
}
#formDiv{
    /* background-color: cornflowerblue; */
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}
form{
    background-color: cornflowerblue;
    width: 300px;
    height: 250px;

}
form>input{
   margin: 10px;
   width: 70%;
    
}
form>select{
   margin: 10px;
    width: 70%;

}
#save{
    background-color: darkslateblue;
    color: aliceblue;
    width: 50%;

}
#buttonDiv{
    margin: 50px 20px 0 50px;
}
button{

    background-color: cornflowerblue;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: 2px cornflowerblue;
}
#Booksshelf{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(4,300px);
    gap:20px;
    justify-content: center;
}
#bookCard{
    height: max-content;
    width: 300px;
    background-color: rgb(75, 130, 232);
    color: white;

}
#bookCard>img{
    height: 20%;
    width: 90%;
}
h3{
    color: white;
}